@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
    margin-bottom: 10px;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], 
input[type="email"],
textarea {
    width: 300px;
}

textarea {
    padding: 10px 5px;
    margin-top: 10px;
}

/* header container */

.header-container {
    background-color: rgba(239, 23, 23, 0.773);
    padding: 20px;
    width: 100%;
    text-align: center;
}

.header-container h1 {
    color: white;
    margin-bottom: 10px;
}

.header-container p {
    color: white;
    margin-bottom: 10px;
}

/* form container */

.body-container {
    background-color: #fdfdfd;
    width: 700px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    top: -22px;
}

.box-input {
    margin-bottom: 25px;
}

#inline-block {
    display: inline-block;
    margin-right: 20px;
}

.block {
    display: block;
}

select {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list {
    list-style: none;
    margin-bottom: 5px;
}

.required-field {
    color: red;
}

.submit-btn {
    padding: 15px;
    background-color: rgba(239, 23, 23, 0.773);
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
}

.submit-btn:hover {
    background-color: white;
    color: rgba(239, 23, 23, 0.773);
    border-color: rgba(239, 23, 23, 0.773);
}